.note-area {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	flex-wrap: wrap;
	flex-direction: column;
}
.gapht {
	width: 100%;
	height: 10px;
}
.submitbtn {
	margin-top: 20px;
}
